.master-layout {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}

.master-body {
  display: flex;

  .ps {
    width: 100%;
  }
}

.app-header {
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
  background-color: var(--color-white);
  z-index: 9;

  &__popover {
    img {
      width: 32px;
      height: 32px;
    }
  }

  &__space {
    flex: 1 1 auto;
  }

  &__wrapper {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    max-width: 1200px;
    padding: 16px 0;
    gap: 16px;
  }

  &__menu {
    display: flex;
    justify-content: flex-end;
    flex: 1 1 auto;
    gap: 16px;

    > div {
      display: flex;
      align-items: center;

      .header-anchor {
        padding: 0;
      }
    }

    .ant-menu {
      border-bottom: none;

      &-item {
        padding: 0 28px;
      }
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    margin-left: 12px;
    gap: 8px;
  }

  .ant-anchor {
    &:before {
      content: none !important;
    }

    &-wrapper-horizontal {
      &:before {
        content: none !important;
      }
    }

    .ant-anchor-ink-visible {
      background-color: var(--color-carnation) !important;
    }

    .ant-anchor-link-active {
      .ant-anchor-link-title-active {
        color: var(--color-carnation);
      }
    }
  }
}

.ant-menu {
  border-inline-end: none !important;
}

.mobile-menu {
  .page-header {
    display: flex;

    &__actions {
      flex: 1 1 auto;
      display: flex;
      justify-content: flex-end;
    }
  }

  .ant-menu {
    padding: 0 32px;
  }

  .ant-drawer {
    &-body {
      padding: 0;
    }

    &-header {
      display: none;
    }
  }

  .ant-anchor {
    &:before {
      content: none !important;
    }

    &-link-title {
      text-align: center;
      margin-top: 4px;
    }

    &-link {
      margin-bottom: 28px;
    }
  }

  .ant-anchor-ink-visible {
    display: none !important;
  }
}
